.col-45{
  color: #454545;
}
.col-10{
  color: #101010;
}
.font-size-12{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-18{
  font-size: 18px;
}
.line-height-18{
  line-height: 18px;
}
.bold{
  font-weight: bold;
}
.overflow-hidden{
  overflow: hidden;
}
.dis-block{
  display: block;
}
.van-dialog {
  max-width: 350px;
}
.cfix:after,
.optionBox:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}
.center{
  text-align:center;
}
.rel{
  position:relative;
}
.cfix,
.optionBox {
  zoom: 1;
}
.fLeft{
  float: left;
}
.fRight{
  float:right;
}
.flexBox{
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.boxFlex_0{
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  box-flex: 0;
}
.boxFlex_1{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.boxFlex_2{
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
}
.boxAlignCenter{/*box居中对齐*/
  -moz-box-align:center;
  -webkit-box-align:center;
  -o-box-align:center;
  box-align:center;
}
.boxAlignStart{/*box垂直居上对齐*/
  -moz-box-align:start;
  -webkit-box-align:start;
  -o-box-align:start;
  box-align:start;
}
.boxPackJustify{/*box两端对齐*/
  -moz-box-pack:justify;
  -webkit-box-pack:justify;
  -o-box-pack:justify;
  box-pack:justify;
}
.boxPackCenter{/*box垂直居中对齐*/
  -moz-box-pack:center;
  -webkit-box-pack:center;
  -o-box-pack:center;
  box-pack:center;
}
/*btn-fixed*/
.btn-fixed{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 0;
}
.box-fixed{
  margin: 0!important;
  padding: 10px 0!important;
  background: rgba(255, 255, 255);
  border-radius: 3px;
}
.box-fixed .btn-space{
  margin: 0 4px!important;
}
.btn-opacity-9{
  opacity: 0.9;
}
@media (max-width: 767px) {
  .box-fixed{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0;
    border-top: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.7);
  }
}
.mobPart {
  display: none;
}
.form-control[readonly] {
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  .mobPart {
    display: block;
  }
  .pcPart {
    display: none;
  }
}
.ztree li span.button.add {
  margin-left: 2px;
  background-position: -144px 0;
  vertical-align: top;
}
.note-editable.panel-body ul, ol {
  padding-left: 40px;
}
.note-editable.panel-body ul{
  list-style-type: disc;
}
.note-editable.panel-body ol{
  list-style-type: decimal;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* 计划任务筛选样式 */
@media (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: space-between;
  }
  .form-inline {
    width: 90%;
  }
  .filter .form-group {
    width: 19%;
  }
  .form-inline .form-control {
    min-width: 65%;
  }
}
.text-right {
  text-align: right;
}
.datetimepicker table tbody tr td.day.disabled {
  color: #e0e0e0;
}
.error {
  border: 1px solid #ea4335;
}
.inline {
  display: inline;
}